:root{
    --colorRosaPrincipal:#964c72;
    --fuenteAdrianas: 'Montez', cursive;
    --colorFondoMenu: #e6e4e5;
    --azulOscuro: #36268c;
    --fuenteTextos: 'CaviarDreams';
    --colorFondoCuerpo: white;
    --colorMorado: #3a2247;
    --colorDorado: #b78b1a;
    --rosaFuerte:#ec6569;
}


@font-face {
    font-family: "CaviarDreams";
    src:
      local("CaviarDreams"),
      url("./CaviarDreams.ttf") format("ttf"),
      url("./CaviarDreams.woff") format("woff");
  }


  html{
    margin:0;
    line-height: 1.15;
  }
  
body{
    max-width: 100%;
    max-height: 100%;
    margin:0;
}

.contenedor {

    width: 90%;
    margin: auto;

}


/* SECCION HEADER */

header{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

header>div{
    height: 8rem;
    display: grid;
    grid: 1fr/1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid var(--colorDorado);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

header>div>img{
    grid-column: 2/3;
    grid-row: 1/2;
    max-height: 8rem;
}


nav{
    padding: 0.5rem;
    /* background-color: var(--colorFondoMenu); */
    background-image: linear-gradient(to right, white 0%, #e6e4e5 90%);
    border-bottom: 1px solid var(--colorDorado);
    line-height: 1.15;
}

nav>div{
    display: flex;
    justify-content: space-between;
}

nav a{
    color: var(--colorRosaPrincipal);
    text-decoration: none;
    font-family: var(--fuenteAdrianas);
    font-size: 1.5rem;
}

nav a:hover{
    text-decoration: underline 0.9px solid #36268c;
    text-underline-offset: 0.25rem;
}



/* SECCIÓN CENTRAL */

main{
    display: block;
    text-align: center;
    margin-top: 0;  
}

main h1{
    /* font-family: var(--fuenteAdrianas);
    font-size: 3.5rem;
    color: var(--rosaFuerte);
    padding-top: 3rem;
    margin-top: 0;
     */
    font-family: var(--fuenteAdrianas);
    font-size: 3.5rem;
    color: var(--rosaFuerte);
    background-image: linear-gradient(to right,rgba(183, 139, 26, 0.5)10%, rgba(183, 139, 26, 0.25) 50%,rgba(183, 139, 26, 0.5)90%);
    /* background-color: rgba(183, 139, 26, 0.4); */
    border: 1px solid var(--colorDorado);
    padding-bottom: 0.5rem;
    margin-top: 0;
    padding-top: 0.75rem;
    text-decoration: underline 2px solid var(--rosaFuerte);
    text-underline-offset: 0.3rem;
}

.subtitulo{
    display: block;
    text-align: center;
    padding-bottom: 1rem;
   
}
.subtitulo h2{
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 0;
    font-family: var(--fuenteTextos);
    color: var(--rosaFuerte);
    background-color: rgba(183, 139, 26, 0.2);
}

.fondoGeneral{
    background-color:rgba(58, 34, 71, 0.05);
    /* height: 75rem; */

}

.anchoMax{
    max-width: 70%;
    display: grid;
    grid:repeat(4,1fr)/4fr;
    margin-top: 3rem;
}

.anchoMax > div{
    display: flex;
    justify-content: space-between;
    height: 10rem;
    margin-bottom: 1rem;
}

.anchoMax>div>div{
    width: 24.5%;
}

.contenedorFila1 .div1{
    background-image:url(./fotos/coloresNaturales.png);
    background-size: cover;
    border-radius: 1rem;
}
.contenedorFila1 .div2{
    background-image:url(./fotos/francesa.png) ;
    background-size: cover;
    border-radius: 1rem;
}
.contenedorFila1 .div3{
    background-image:url(./fotos/semipermanente.png);
    background-size: cover;
    border-radius: 1rem;
}
.contenedorFila1 .div4{
    background-image:url(./fotos/sencillas.png);
    background-size: cover;
    border-radius: 1rem;
}

.contenedorFila2 .div1{
    background-image: url(./fotos/cuadradas.png);
    background-size: cover;
    border-radius: 1rem;
}
.contenedorFila2 .div2{
    background-image: url(./fotos/extensionesCuadradasSoftPeq.png);
    background-size: cover;
    border-radius: 1rem;
}
.contenedorFila2 .div3{
    background-image: url(./fotos/extensionesAlmendradasPeq.png);
    background-size: cover;
    border-radius: 1rem;
}
.contenedorFila2 .div4{
    background-image: url(./fotos/extensionesOvaladasPeq.png);
    background-size: cover;
    border-radius: 1rem;
}

.contenedorFila3 .div1{
    background-image: url(./fotos/mate.png);
    background-size:cover;
    border-radius: 1rem;
    background-position:top;
}
.contenedorFila3 .div2{
    background-image: url(./fotos/unaUñaDiferente2.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila3 .div3{
    background-image: url(./fotos/paletaColores.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila3 .div4{
    background-image: url(./fotos/paletaColores2.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila4 .div1{
    background-image: url(./fotos/Colorful.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila4 .div2{
    background-image: url(./fotos/Colorful2.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila4 .div3{
    background-image: url(./fotos/tematica.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:top;
}
.contenedorFila4 .div4{
    background-image: url(./fotos/tematica2.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila5 .div1{
    background-image: url(./fotos/degradadoCadaUña.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila5 .div2{
    background-image: url(./fotos/uñasDiferentesSiguiendoDiseño.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila5 .div3{
    background-image: url(./fotos/uñasDiferentesSiguiendoDiseño2.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}
.contenedorFila5 .div4{
    background-image: url(./fotos/uñasDiferentesSiguiendoDiseño3.png);
    background-size: cover;
    border-radius: 1rem;
    background-position:center;
}


.anchoMax .contenedorFila1 .div1, .contenedorFila2 .div3, .contenedorFila3 .div1, .contenedorFila3 .div4, .contenedorFila4 .div2,  .contenedorFila4 .div4{
    display: flex;
    justify-content: left;
    align-items:end;
   
}

.anchoMax .contenedorFila1 .div2, .anchoMax .contenedorFila1 .div3, .anchoMax .contenedorFila1 .div4{
    display: flex;
    justify-content: right;
    align-items:start;
}

.anchoMax .contenedorFila2 .div1 {
    display: flex;
    justify-content: right;
    align-items:start;
}

.anchoMax .contenedorFila2 .div2, .anchoMax .contenedorFila2 .div4{
    display: flex;
    justify-content: right;
    align-items:center;
} 

.anchoMax .contenedorFila3 .div2{
    display: flex;
    justify-content: right;
    align-items:end;
}


.anchoMax .contenedorFila3 .div4{
    display: flex;
    justify-content: right;
    align-items:start;
}

.anchoMax .contenedorFila5 .div2, .anchoMax .contenedorFila5 .div3{
    display: flex;
    justify-content: right;
    align-items:start;
}





.anchoMax>div>div>h3{
    display: none;
    color: var(--rosaFuerte);
    -webkit-text-stroke: 0.000001rem var(--colorFondoMenu);
    font-family: var(--fuenteAdrianas);
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}


.anchoMax>div>div:hover{
 
    transform: scale(1.8);
   
}
.anchoMax{
    padding-bottom: 5rem;
}

.anchoMax>div>div:hover h3{
    display: block;
}

.scrollButton{
    display: none;
    right: 2rem;
    top: 20%;
    background-image: url(../telefono.png);
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    position: fixed;
}

.scrollButton:hover{
    background-color: var(--colorFondoMenu);
    border-radius: 5rem;
    border: 1px solid var(--colorRosaPrincipal);
    transform: scale(1.1);
    
}



/* SECCIÓN FOOTER */

footer{
    height: 10.5rem;
    background-image: linear-gradient(to right, white 0%, #e6e4e5 90%);
    border-top: 1.5px solid var(--colorDorado);
    border-bottom: 1.5px solid var(--colorDorado);
    display: grid;
    grid-template-rows: 1fr 1fr;

}

footer h3{
    font-family: var(--fuenteTextos);
    font-size: 0.9rem;
    color: var(--colorRosaPrincipal);
}


.informacionFooter{
    display: grid;
    grid: 1fr/ 1fr 1fr 1fr;

}

.horario {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 1px solid var(--colorDorado);
    padding-bottom: 0.9rem;
  

}

.horario span{
    color: var(--azulOscuro);
}

.telefono{
    grid-column: 2/3;
    grid-row: 1/2; 
    padding-left: 1.5rem;
    padding-bottom: 0.9rem;
  
}

.telefono .numero{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}


.telefono .numero>a{
    color: var(--colorRosaPrincipal);
    font-family: var(--fuenteTextos);
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;

}

.telefono .numero>a:hover{
    text-decoration: underline solid var(--azulOscuro);
    text-underline-offset: 0.25rem;
}

.telefono .direccion{
    margin-top: 0;
}

.telefono .botonContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.telefono .botonContacto>a{
       display: inline-block;
       color: var(--colorRosaPrincipal);
       font-family: var(--fuenteTextos);
       font-size: 0.9rem;
       font-weight: bold;
       background-color: #e6e3e3;
       padding: 0.5rem;
       border-radius: 0.5rem;
       border: 0.1rem solid var(--azulOscuro);
       text-decoration: none;
       margin-top: 0.9rem;
}

.telefono .botonContacto>a:hover{
    border: 0.1rem solid var(--colorRosaPrincipal);
    background-color: var(--colorRosaPrincipal);
    color: white;
}
 


.redesSociales{
    grid-column: 3/4;
    grid-row: 1/2; 
    border-left: 1px solid var(--colorDorado);
    padding-left: 1.5rem;
    padding-bottom: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.redesSociales img{
    margin-top: 0.9rem;
}

.divisionFooter{
    border-bottom: 1px solid var(--colorDorado);
    
}


.paginasLegales{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.45rem;
    font-size: 0.6rem;
    font-family: var(--fuenteTextos);
    font-weight: bold;
}

.paginasLegales a{
    color: var(--colorRosaPrincipal);
    text-decoration: underline solid var(--azulOscuro);
    text-underline-offset: 0.25rem;
}