:root{
    --colorRosaPrincipal:#964c72;
    --fuenteAdrianas: 'Montez', cursive;
    --colorFondoMenu: #e6e4e5;
    --azulOscuro: #36268c;
    --fuenteTextos: 'CaviarDreams';
    --colorFondoCuerpo: white;
    --colorMorado: #3a2247;
    --colorDorado: #b78b1a;
    --rosaFuerte:#ec6569;
}


@font-face {
    font-family: "CaviarDreams";
    src:
      local("CaviarDreams"),
      url("./CaviarDreams.ttf") format("ttf"),
      url("./CaviarDreams.woff") format("woff");
  }


  html{
    margin:0;
    line-height: 1.15;
  }
  
body{
    max-width: 100%;
    max-height: 100%;
    margin:0;
}

.contenedor {

    width: 90%;
    margin: auto;

}


/* SECCION HEADER */

header{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

header>div{
    height: 8rem;
    display: grid;
    grid: 1fr/1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid var(--colorDorado);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

header>div>img{
    grid-column: 2/3;
    grid-row: 1/2;
    max-height: 8rem;
}


nav{
    padding: 0.5rem;
    /* background-color: var(--colorFondoMenu); */
    background-image: linear-gradient(to right, white 0%, #e6e4e5 90%);
    border-bottom: 1px solid var(--colorDorado);
    line-height: 1.15;
}

nav>div{
    display: flex;
    justify-content: space-between;
}

nav a{
    color: var(--colorRosaPrincipal);
    text-decoration: none;
    font-family: var(--fuenteAdrianas);
    font-size: 1.5rem;
}

nav a:hover{
    text-decoration: underline 0.9px solid #36268c;
    text-underline-offset: 0.25rem;
}

@media (min-width:769px){
    nav .mobile-menu{
        display: none;
    }
    }
    
@media (max-width:768px){
       nav div > a {
            display: none;
        }
    
        #current-page{
            color: var(--colorRosaPrincipal);
            font-family: var(--fuenteAdrianas);
            font-size: 1.5rem;
        }
        .mobile-menu {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;
        }
        .mobile-menu #current-page {
            margin-right: 10px;
        }
        .dropdown-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            background-image: linear-gradient(to right, white 0%, #e6e4e5 90%);;
            padding: 10px;
        }
        .dropdown-menu a {
            display: block;
            padding: 5px 0;
            text-align: center;
        }
    
        .menu-icon{
            cursor: pointer;
            color: var(--colorRosaPrincipal);
        }
    }

/*MAIN*/

main{
    display: block;
    text-align: center;
    margin-top: 0;
}
main h1{
    font-family: var(--fuenteAdrianas);
    font-size: 3.5rem;
    color: var(--rosaFuerte);
    background-image: linear-gradient(to right,rgba(183, 139, 26, 0.5)10%, rgba(183, 139, 26, 0.25) 50%,rgba(183, 139, 26, 0.5)90%);
    border: 1px solid var(--colorDorado);
    padding-bottom: 0.5rem;
    margin-top: 0;
    padding-top: 0.75rem;
    text-decoration: underline 2px solid var(--rosaFuerte);
    text-underline-offset: 0.3rem;
    
}

@media (max-width:768px){
    main h1{
        font-size: 2rem;
        padding-top: 1.5rem;
    }

}

/* SECCIÓN CENTRAL */


.fondoGeneral{
    background-color:rgba(58, 34, 71, 0.05);
    /* height: 235rem; */
}

.servicio{
    display: none;
}

.todosServciosBoton{
    display: flex;
    flex-direction: row;
}
/* manicura */

.manicura{
    background-color: var(--colorFondoCuerpo);
    max-width: 70%;
    border: 2px solid var(--rosaFuerte);
    margin-top: 0;
    padding: 2rem 2rem 0rem 2rem;

}

.manicura > h2 {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid var(--rosaFuerte);
    padding-bottom: 0.5rem;
}


.manicuraTipos{
    display: grid;
    grid: repeat(8,1fr)/1fr;
}

.manicuraTipos>div{
    border-bottom: 2px solid var(--rosaFuerte);
    height:11.65rem;
    
}

h2{
    color: var(--rosaFuerte);
    font-family: var(--fuenteTextos);
    font-size: 1.5rem;
}

h3{
    color: var(--rosaFuerte);
    font-family: var(--fuenteTextos);
    font-size: 1rem;  
    font-weight: 800px;
}

.precio{
    color: var(--rosaFuerte);
    border: 1px solid var(--rosaFuerte);
}

p{
    color: var(--colorMorado);
    font-family: var(--fuenteTextos);
    line-height: 1.5rem;
}

.sinImagen{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.ultimo{
    border: none !important;
}

.manicuraTipos .impar{
    display: grid;
    grid: 1fr/repeat(4,1fr);
    column-gap: 1rem;
}

.manicuraTipos .impar .imagen{
    grid-column: 1/2;
    
}

.manicuraTipos .impar .descripcion{
    grid-column: 2/5;
}

.manicuraTipos .impar1 .imagen{
    background-image: url(./semipermanente.png);
    background-size: cover;
    background-position: center;
}

.manicuraTipos .impar2 .imagen{
    background-image: url(./gelextensiones.png);
    background-size: cover;
    background-position:initial;
}

.manicuraTipos .par{
    display: grid;
    grid: 1fr/repeat(4,1fr);
    column-gap: 1rem;
}

.manicuraTipos .par .imagen{
    grid-column: 4/5;
    
}

.manicuraTipos .par .descripcion{
    grid-column: 1/4;
}

.manicuraTipos .par1 .imagen{
    background-image: url(./gelnaturales.png);
    background-size:cover;
    background-position: center;
}

.manicuraTipos .par2 .imagen{
    background-image: url(./gelrelleno.png);
    background-size: cover;
    background-position: center;
}

@media (min-width:768px) and (max-width:1140px){


    .impar2 p, .par2 p{
        font-size: 0.6rem;
    }

    

    .manicuraTipos .par1 .imagen{
        background-position: left;
    }
   
    
}

/*pedicura*/



.pedicura{
    background-color: var(--colorFondoCuerpo);
    max-width: 70%;
    border: 2px solid var(--rosaFuerte);
    margin-top: 0;
    padding: 2rem 2rem 0rem 2rem;

}

.pedicura > h2 {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid var(--rosaFuerte);
    padding-bottom: 0.5rem;
}

.pedicuraTipos{
    display: grid;
    grid: repeat(4,1fr)/1fr;
}

.divMayores{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;  
    border-bottom: 2px solid var(--rosaFuerte);
    height:11.65rem;
}

.divFotoPedicura{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pestañas{
    background-color: var(--colorFondoCuerpo);
    max-width: 70%;
    border: 2px solid var(--rosaFuerte);
    margin-top: 0;
    padding: 2rem 2rem 0rem 2rem; 
}

.pestañas > h2{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid var(--rosaFuerte);
    padding-bottom: 0.5rem;
}

.pestañasTipos{
    border-bottom: 2px solid var(--rosaFuerte);
    height:11.65rem;
    display: grid;
    grid: 1fr/repeat(5,1fr);
    column-gap: 1rem;
}

.pestañasTipos>div{
    border-right: 2px solid var(--rosaFuerte);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: right;
}

.divFotoPestañas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.redondeada{
    border-radius: 10rem;
}

@media (min-width:768px) and (max-width:1140px){
    .divFotoPestañas img{
        height: 225px;
    }
}


#mostrarSiguiente1{
    cursor: pointer;
    font-family: var(--fuenteTextos);
    color: white;
    background-color: rgba(54, 38, 140, 0.5);
    padding: 0.5rem;
    border: 2px solid var(--azulOscuro);
    border-bottom: none;
}

#mostrarSiguiente2{
    cursor: pointer;
    font-family: var(--fuenteTextos);
    color: white;
    background-color: rgba(54, 38, 140, 0.5);
    padding: 0.5rem;
    border: 2px solid var(--azulOscuro);
    border-top: none;
}

.divBoton1, .divBoton2{
    max-width: 70%;
    display: flex;
    justify-content: right;
}

.divBoton2{
    padding-bottom: 3rem;
}


.scrollButton{
    display: none;
    right: 2rem;
    top: 20%;
    background-image: url(../telefono.png);
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    position: fixed;
}

.scrollButton:hover{
    background-color: var(--colorFondoMenu);
    border-radius: 5rem;
    border: 1px solid var(--colorRosaPrincipal);
    transform: scale(1.1);
    
}


/* SECCIÓN FOOTER */

footer{
    height: 10.5rem;
    background-image: linear-gradient(to right, white 0%, #e6e4e5 90%);
    border-top: 1.5px solid var(--colorDorado);
    border-bottom: 1.5px solid var(--colorDorado);
    display: grid;
    grid-template-rows: 1fr 1fr;

}

footer h3{
    font-family: var(--fuenteTextos);
    font-size: 0.9rem;
    color: var(--colorRosaPrincipal);
}



.informacionFooter{
    display: grid;
    grid: 1fr/ 1fr 1fr 1fr;

}

.horario {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 1px solid var(--colorDorado);
    padding-bottom: 0.9rem;
  

}

.horario span{
    color: var(--azulOscuro);
}

.telefono{
    grid-column: 2/3;
    grid-row: 1/2; 
    padding-left: 1.5rem;
    padding-bottom: 0.9rem;
  
}

.telefono .numero{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}


.telefono .numero>a{
    color: var(--colorRosaPrincipal);
    font-family: var(--fuenteTextos);
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;

}

.telefono .numero>a:hover{
    text-decoration: underline 0.05rem solid var(--azulOscuro);
    text-underline-offset: 0.25rem;
}

.telefono .direccion{
    margin-top: 0;
}

.telefono .botonContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.telefono .botonContacto>a{
       display: inline-block;
       color: var(--colorRosaPrincipal);
       font-family: var(--fuenteTextos);
       font-size: 0.9rem;
       font-weight: bold;
       background-color: #e6e3e3;
       padding: 0.5rem;
       border-radius: 0.5rem;
       border: 0.1rem solid var(--azulOscuro);
       text-decoration: none;
       margin-top: 0.9rem;
}

.telefono .botonContacto>a:hover{
    border: 0.1rem solid var(--colorRosaPrincipal);
    background-color: var(--colorRosaPrincipal);
    color: white;
}
 


.redesSociales{
    grid-column: 3/4;
    grid-row: 1/2; 
    border-left: 1px solid var(--colorDorado);
    padding-left: 1.5rem;
    padding-bottom: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.redesSociales img{
    margin-top: 0.9rem;
}

.divisionFooter{
    border-bottom: 1px solid var(--colorDorado);
    
}



.paginasLegales{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.45rem;
    font-size: 0.6rem;
    font-family: var(--fuenteTextos);
    font-weight: bold;
}

.paginasLegales a{
    color: var(--colorRosaPrincipal);
    text-decoration: underline solid var(--azulOscuro);
    text-underline-offset: 0.25rem;
}

@media (max-width:768px){

    footer{
        height: 10.5rem;
        display: flex;
        flex-direction: column;
    }

    .divisionFooter{
        height: 90%;
    }

    .finalPagina{
        height: 10%;
    }
    
    .informacionFooter{
        display: grid;
        grid: 1fr 0.5fr /1fr 1fr;
    }

    .horario{
        grid-row: 1/2;
        grid-column: 1/2;
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .telefono{
        grid-row:1/2;
        grid-column: 2/3;  
        border: none;
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .telefono .numero>a, .telefono .botonContacto>a{
        font-size: 0.6rem ;
    }

    .botonContacto{
        margin-bottom: 0;
    }
    .redesSociales{
        grid-row: 2/3;
        grid-column: 1/3;
        border: none;
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .redesSociales img{
        height: 30px;
        width: 30px;
    }

    .redesSociales .whatsapp img{
        height: 25px;
        width: 25px;
    }

    footer h3{
        font-size: 0.6rem;
    }

    .paginasLegales{
        margin-top: 0.2rem;
        font-size: 0.5rem;
        font-family: var(--fuenteTextos);
        font-weight: bold;
            
    }

    
}
